<a href="{% if include.book.content != '' %}{{ include.book.url }}{% else %}#{% endif %}" class="tome-item-swiss" {% if include.last_name %} data-last-name="{{ include.last_name }}"{% endif %} {% if include.book.genre %} data-genre="{{ include.book.genre }}"{% endif %}>
  <div class="tome-title-s">{{ include.book.title | upcase }}</div>
  <div class="tome-meta-s">
    <span>AUTHOR: {{ include.book.author | upcase }}</span>
    <span class="tome-rating-s">
      {% if include.unrated %}
        [ UNRATED ]
      {% else %}
        {% if include.book.currently_reading %}
          [ READING ]
        {% elsif include.book.stars %}
          RATING: {% for i in (1..include.book.stars) %}★{% endfor %}
        {% endif %}
      {% endif %}
    </span>
  </div>
</a>