<a href="{% if include.book.content != '' %}{{ include.book.url }}{% else %}#{% endif %}" class="library-card" {% if include.last_name %} data-last-name="{{ include.last_name }}"{% endif %} {% if include.book.genre %} data-genre="{{ include.book.genre }}"{% endif %}>
  <span class="library-card-title">{{ include.book.title }}</span>
  <span class="library-card-author">by {{ include.book.author }}</span>
  <span class="library-card-rating">
    {% if include.unrated %}
      (unrated)
    {% else %}
      {% if include.book.currently_reading %}
        reading...
      {% elsif include.book.stars %}
        {% for i in (1..include.book.stars) %}*{% endfor %}
      {% endif %}
    {% endif %}
  </span>
</a>
