---
layout: default
---
<article class="article ide-markdown-preview">
  <div class="ide-frontmatter">
    <div class="line"><span class="code-comment">---</span></div>
    <div class="line"><span class="code-key">title:</span> <span class="code-string">"{{ page.title | escape }}"</span></div>
    <div class="line"><span class="code-key">author:</span> <span class="code-string">"{{ page.author | escape }}"</span></div>
    <div class="line"><span class="code-key">rating:</span> <span class="code-number">{{ page.stars | default: "null" }}</span></div>
    {% assign year = page.date | date: "%Y" | to_integer %}
    {% if year >= 2020 %}
    <div class="line"><span class="code-key">read:</span> <span class="code-string">"{{ page.date | date: '%Y-%m-%d' }}"</span></div>
    {% endif %}
    <div class="line"><span class="code-comment">---</span></div>
  </div>

  {% if page.takeaway %}
  <blockquote class="pull-quote">
    {{ page.takeaway }}
  </blockquote>
  {% endif %}

  <div class="article-body">
    {{ content }}
  </div>
</article>