---
layout: default
---
<article class="article ide-markdown-preview">
  <div class="ide-frontmatter">
    <div class="line"><span class="code-comment">---</span></div>
    <div class="line"><span class="code-key">title:</span> <span class="code-string">"{{ page.title | escape }}"</span></div>
    {% if page.description %}
    <div class="line"><span class="code-key">description:</span> <span class="code-string">"{{ page.description | escape }}"</span></div>
    {% endif %}
    <div class="line"><span class="code-key">date:</span> <span class="code-string">"{{ page.date | date: '%Y-%m-%d' }}"</span></div>
    <div class="line"><span class="code-comment">---</span></div>
  </div>

  <div class="article-body">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</article>